<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/default.css">
<script src="/jquery-3.1.1.min.js"></script>
<script src="/script.js"></script>
<table>
  <tbody>
    <tr>
      <td class="commit-header"><strong>Author</strong></td>
      <td class="commit-header"><%= @commit.author[:name] %></td>
    </tr>
    <tr>
      <td class="commit-header"><strong>Date</strong></td>
      <td class="commit-header"><%= @commit.author[:time] %>
    </tr>
  </tbody>
</table>

<div class="commit-message"><pre><%= @commit.message %></pre></div>

<table>
  <tbody>
  <% @content.each_with_index do |line, lineno| %>
  <% sha1 = abbrev(@blame[lineno][:final_commit_id]) %>
  <% orig_path = @blame[lineno][:orig_path] %>
  <tr>
    <td class="lineno"><%= lineno + 1 %></td>
    <td class="blame load blame-<%= sha1 %>-prev" title="loading ...">
      <a href="/blame/<%= orig_path %>?rev=<%= sha1 %>^">
        <%= sha1 %>^
      </a>
    </td>
    <td class="blame load blame-<%= sha1 %>" title="loading ...">
      <a href="/blame/<%= orig_path %>?rev=<%= sha1 %>">
        <%= sha1 %>
      </a>
    </td>
    <td class = "codehilite line"><%= line %></td>
  </tr>
  <% end %>
  </tbody>
</table>
