<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/default.css">
<table>
  <tbody>
    <tr>
      <td class="commit-header"><strong>Author</strong></td>
      <td class="commit-header"><%= @commit.author[:name] %></td>
    </tr>
    <tr>
      <td class="commit-header"><strong>Date</strong></td>
      <td class="commit-header"><%= @commit.author[:time] %>
    </tr>
  </tbody>
</table>

<div class="commit-message"><%= @commit.message %></div>

<table>
  <tbody>
  <% @content.each_with_index do |line, lineno| %>
  <% sha1 = abbrev(@blame[lineno][:final_commit_id]) %>
  <% orig_path = @blame[lineno][:orig_path] %>
  <tr>
    <td class="lineno"><%= lineno + 1 %></td>
    <td class="blame">
      <a href="/blame/<%= sha1 %>-prev/<%= orig_path %>">
        <%= sha1 %>^
      </a>
    </td>
    <td class="blame">
      <a href="/blame/<%= sha1 %>/<%= orig_path %>">
        <%= sha1 %>
      </a>
    </td>
    <td class = "codehilite line"><%= line %></td>
  </tr>
  <% end %>
  </tbody>
</table>
